<!DOCTYPE html>
<html>
    <head>
        <title>{{title}}</title>
    </head>
    <body>
        <h1>All Posts</h1>
        {{#each body}}
            <h4>{{this.title}}</h4>
            <p>{{this.content}}</p>
            <form action="/index" method="get">
                <input type="hidden" value="{{this.id}}" name="id">
                <button type="submit">Detail</button><br><br>
            </form>
            <form action="/index" method="post">
                <input type="hidden" value="{{this.id}}" name="id">
                <input type="hidden" value="put" name="method">
                <button type="submit">Edit</button><br><br>
            </form>
            <form action="/index" method="post">
                <input type="hidden" value="{{this.id}}" name="id">
                <input type="hidden" value="delete" name="method">
                <button type="submit">Delete</button><br><br>
            </form>
        {{/each}}
        <br><br>
        <form action="/" method="get">
            <button type='submit'>Up New Post</button><br><br>
        </form>
    </body>
</html>